body { counter-reset: h2; }
h2::before, h3::before, h4::before, h5::before, h6::before { color: var(--base2); }
h2::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
h2 { counter-reset: h3; }
h3::before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}
h3 { counter-reset: h4; }
h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
h4 { counter-reset: h5; }
h5::before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
h5 { counter-reset: h6; }
h6::before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}
ol { text-align: justify; }
ol > li { color: var(--base01); }
ul.notes { list-style: none; }
a { white-space: nowrap; }
