h6:before { content: "Rozdział " }
h6 { margin: 0 2em; text-align: center; border-top: .5px solid; padding-top: 1em; }
table { counter-reset: verse; counter-increment: chapter; }
tr.verse { counter-increment: verse; }
td span { display: inline-block; }
td { vertical-align: top; text-align: justify; }
td.el { width: 50%; }
td.la, td.pl { width: 25%; }
td.el span:after {
  content: attr(data-strong) "\a" attr(data-morphology);
  white-space: pre;
  font-size: 0.5em;
  font-family: Menlo;
  padding: 0 0.1em;
  display: inline-block;
  color: var(--base2);
}
tr.verse:before, tr.verse:after {
  content: counter(chapter) "." counter(verse);
  font-size: 0.5em;
  white-space: nowrap;
  font-family: Menlo;
  vertical-align: top;
  color: var(--base1);
}
.footnote {
  font-family: Menlo;
  color: var(--base1);
  font-size: 0.5em;
  text-align: left;
}
.comment td {
  border: none;
  font-family: Menlo;
  color: var(--base1);
  font-size: 0.5em;
  padding: 2em 0 2em 3em;
}
th { padding: 1em 0; }
p { padding: 0 2em; text-align: justify; }
aside { display: inline-block; color: var(--base1) !important; padding-right: 1em; }
h1 { margin-bottom: 0; }
header { margin: 0 2em; }
