body    { font-family: 'Cardo', serif; margin: 1em auto; max-width: 50em; font-size: 1.1rem; background-image: url('../back.svg') }
article { padding: 1em 3em; }
hr      { border: 0; border-top-width: 1px; border-top-style: solid; }
nav ul  { padding: 0; list-style: none; }
nav li  { display: inline-block; padding-right: 1em; }
p, li   { text-align: justify; }
footer  { margin-top: 1em; font-size: .5em; }
footer strong { font-family: 'Roboto Mono', monospace; font-size: 2px; color: var(--base1); }
footer img { display: block; margin: 0 auto; image-rendering: pixelated; }

@media print {
  nav, footer { display: none; }
  body { font-size: 1rem; }
  h2 { page-break-before: always; }
  h2, h3, h4, h5, h6 { page-break-after: avoid; }
}

@media only screen and (max-width: 600px) {
  body    { margin: .5em auto; }
  article { padding: .5em; }
}
